extends layout
block content 

	.allcontent
	center
		h2(style="margin-top: 4rem;") Welcome Admin
		p
			a(href="/user/staffReg" style="font-size: 1.5rem; color: #392600;")
				| Dashboard
				// <img src="./images/circle.png" style="background-color:#ffc800 " />
				img(src="/static/images/arrow.png" style="background-color:#ffc800; color: purple; " href="")