extends layout
block content 
		.allcontent
			h2 Customer Registration
			// <div class="heading-underline" id="underline"></div>
			form#registerForm.form(method="post" action="/user/customerList" style=" z-index: 1;")
				#contain.containter
					.row
						// start of 1st column
						.col-lg-6
							// 1st fieldset
							.panel.panel-default
								.panel-body
									fieldset.col-md-12
										legend(style="width: 50%;")
											| Personal Details
										.panel.panel-default
											.panel-body
												// start of inner row
												.form-row
													.form-group.col-md-6
														label.label
															| FirstName
															span(class="span") *
														input#fname.form-control(type="text" name="fname" placeholder="Jane" required autocomplete="off" pattern="^[A-Za-z]+$" title="Names should contain alphabet characters ")
													.form-group.col-md-6
														label.label
															| LastName
															span(class="span") *
														input#lname.form-control(type="text" name="lname" placeholder="Doe" required autocomplete="off" pattern="^[A-Za-z]+$" title="Names should contain alphabet characters ")
												.form-group
													label.label
															| MobileNumber
															span(class="span") *
													input#phone.form-control(type="text" name="phone" placeholder="MobileNo." required autocomplete="off" maxlength="10" minlength="10" title="Mobile number should be 10 characters")
												.form-group
													label.label
															| DateOfBirth
															span(class="span") *
													input#date.form-control(type="date" name="dob" placeholder="BirthDate" required title="Fill in date")
												.form-group
													label.label
															| NIN
															span(class="span") *
													input#nin.form-control(type="text" name="nin" placeholder="NIN" required autocomplete="off" maxlength="13" minlength="13" title="NIN should be 13 characters")
												.form-row
													.form-group.col-md-6
														label.label
															| Nationality
															span(class="span") *
														select.form-control(name="nation" required title="Select nationality")
															option(selected="" name="nation" value="Default") Citizenship
															option(name="nation") Uganda
															option(name="nation") Kenya
															option(name="nation") Tanzania
															option(name="nation") Rwanda
															option(name="nation") DRC
															option(name="nation") Brundi
													.form-group.col-md-6
														label.label
															| MaritalStatus
														select.form-control(name="status")
															option(selected="" name="status" value="Default")
																| Select
																| status
															option(name="status") Single
															option(name="status") Married
															option(name="status") Divorced
															option(name="status") Separated
												// end of inner row
							// end of 1st fieldset
						// end of 1st column
						// start of 2nd column
						.col-lg-6
							// 2nd fieldset
							.panel.panel-default
								.panel-body
									fieldset.col-md-12
										legend(style="width: 50%;")
											| Refree's Details
										.panel.panel-default
											.panel-body
												// start of inner row
												.form-group
													label.label
															| FirstName
															span(class="span") *
													input#reffname.form-control(type="text" name="reffname" placeholder="Refree's First name" required autocomplete="off" pattern="^[A-Za-z]+$" title="Names should contain alphabet characters ")
												.form-group
													label.label
															| LastName
															span(class="span") *
													input#reflname.form-control(type="text" name="reflname" placeholder="Refree's Last name" required autocomplete="off" pattern="^[A-Za-z]+$" title="Names should contain alphabet characters ")
												.form-group
													label.label
															| MobileNumber
															span(class="span") *
													input#refphone.form-control(type="text" name="refphone" placeholder="Refree's MobileNo." required autocomplete="off" maxlength="10" minlength="10" title="Mobile number should be 10 characters")
												.form-group
													label.label
															| DateOfBirth
															span(class="span") *
													input#refdob.form-control(type="date" name="refdob" placeholder="Refree's BirthDate" required title="Fill in date")
												.form-group
													label.label
															| PlaceOfWork
															span(class="span") *
													input#refwork.form-control(type="text" name="refwork" placeholder="Occupation" required autocomplete="off" pattern="^[A-Za-z]+$" title="Input alphabet characters only")
												// end of inner row
							// end of 2nd fieldset
						// end of 2nd column
					hr
					// end of 3rd row
					.row
						.col-lg-12
							// 3rd fieldset
							.panel.panel-default
								.panel-body
									fieldset.col-md-12
										legend Other Details
										.panel.panel-default
											.panel-body
												// start of inner row
												.form-row
													.form-group.col-md-6
														label.label
															| LocalCouncil1
															span(class="span") *
														input#lc1.form-control(type="text" name="lc1" placeholder="LC 1" required autocomplete="off" pattern="^[0-9a-zA-Z]+$" title="LC1 should contain alphanumeric characters ")
													.form-group.col-md-6
														label.label
															| LocalCouncil2
															span(class="span") *
														input#lc3.form-control(type="text" name="lc3" placeholder="LC 3" required autocomplete="off" pattern="^[0-9a-zA-Z]+$" title="LC3 should contain alphanumeric characters ")
												.form-row
													.form-group.col-md-12
														label.label
															| PrefferedBodaStage
															span(class="span") *
														input#stage.form-control(type="text" name="stage" placeholder="Stage Name" required autocomplete="off" pattern="^[0-9a-zA-Z]+$" title="BodaStage should contain alphanumeric characters ")
												h6 Down Payment
												//.heading-underline
												.form-row
													.form-group.col-md-6
														label.label
															| BodaBoda | TukTuk
															span(class="span") *
														select.form-control(name="downpay" required autocomplete="off" pattern="^[0-9a-zA-Z]+$" title="DownPayment should contain alphanumeric characters ")
															option(selected="" name="bdownpay" value="Default") None
															option(name="downpay")
																| BodaBoda->850,000 -
																| 1,000,000
															option(name="downpay")
																| TukTuk->950,000 -
																| 1,000,000
													.form-group.col-md-6
														label.label
															| TypeOfRide
															span(class="span") *
														select.form-control(name="ride" required title="Fill Type of Ride")
															option(selected="" name="ride" value="Default")
																| Type of
																| ride
															option(name="ride") Boda-Boda
															option(name="ride") Tuktuk
															option(name="ride") Tricycle
												.form-row
													.form-group.col-md-6
														label.label
															| OtherLoans
															span(class="span") *
														select.form-control(name="otherloan" required title="Fill Type of Ride")
															option(selected="" name="otherloan" value="Default")
																| Other
																| monies
															option(name="otherloan")
																| 100,000 -
																| 500,000
															option(name="otherloan")
																| 500,000 -
																| 1,000,000
															option(name="otherloan")
																| 1,000,000 -
																| 1,500,000
													.form-group.col-md-6
														label.label
															| FileUpload
															span(class="span") *
														.custom-file
															input#exampleFormControlFile1.form-control-file(type="file" name="file" required title="Fill Type of Ride")
												// start of inner row
							// end of 3rd fieldset
					// end of 3rd row
					.row
						.col-lg-12
							.form-row
								.form-group.col-md-6
									button(type="submit" name="submit" onclick="checkFormValidity()")
										| Submit
								.form-group.col-md-6
									button#btn-cancel(type="reset" name="reset")
										| Cancel
					// end of button code
		script(type="text/javascript" src="/static/js/bootstrap.min.js")
		script(type="text/javascript" src="/static/user.js")
